[package]
name = "daic-rs"
version = "0.1.0"
edition = "2024"

[features]
hdep-tests = [] # Hardware Dependent Tests


[dependencies]
image = "0.25.9"
memmap2 = "0.9.9"
ndarray = "0.17.1"
daic-sys = { path = "daic-sys" }
imageproc = "0.25.0"
serde = { version = "1.0.228", features = ["derive"] }
autocxx = "0.27"

[workspace]
members = [
    ".",
    "daic-sys",
]

[dev-dependencies]
kornia = "0.1.9"
rerun = "0.27.2"

[[example]]
name = "rgbd"
path = "examples/rgbd/rgbd.rs"

[[example]]
name = "camera"
path = "examples/camera.rs"
