[package]
name = "daic-rs"
version = "0.1.0"
edition = "2024"

[features]
hit = [] # Hardware Integration Tests


[dependencies]
image = "0.25.9"
memmap2 = "0.9.9"
ndarray = "0.17.1"
daic-sys = { path = "daic-sys" }
imageproc = "0.25.0"
serde = { version = "1.0.228", features = ["derive"] }
autocxx.workspace = true

[dev-dependencies]
kornia = "0.1.9"
rerun = "0.27.3"

[[example]]
name = "pipeline_creation"
path = "examples/pipeline_creation.rs"

[[example]]
name = "camera"
path = "examples/camera.rs"

[workspace]
resolver = "3"
members = [
    ".",
    "./daic-sys",
]

[workspace.dependencies]
autocxx = "0.30.0"
cxx = "1.0.191"